<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RbxPlus: Earn Free Robux In Few Minutes!</title>
    <link rel="stylesheet" href="/public/games.css">
    <link rel="shortcut icon" href="/public/image/rrbxplus.png" type="image/x-icon">
    <link rel="icon" href="/public/image/rrbxplus.png" type="image/x-icon">
    
</head>

<body>
  <%- include('partials/preload') %>
    <%- include('partials/navbar') %>
        <div id="login">
            <div id="log1">
                <h1 data-translate="firstep">First step</h1>
            </div>

            <%- include(`partials/notifications`)%>

            <h1 id="selectg" data-translate="selectg">Select game</h1>

            <div id="cards-container">
                <% games.forEach(game=> { %>
                    <form action="/selectgame" method="post">
                      <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">
                        <div id="card">
                            <img src="<%- game.imageUrl %>" alt="<%- game.name %>">
                            <div id="card-title"><%- game.name %></div>
                            <input type="hidden" name="gameID" value="<%- game.id %>">
                            <button type="submit" id="btn">Select</button>
                        </div>
                    </form>
                    <% }) %>
            </div>
        </div>

        <script src="https://unpkg.com/i18next/dist/umd/i18next.min.js"></script>
    <script src="https://unpkg.com/i18next-browser-languagedetector/i18nextBrowserLanguageDetector.min.js"></script>
    <script src="https://unpkg.com/jquery/dist/jquery.min.js"></script>
    <script>
       i18next
         .use(i18nextBrowserLanguageDetector)
         .init({
           fallbackLng: 'en',
           debug: true,
           resources: {
             en: {
               translation: {
                 "firstep": "First Step",
                 "selectg": "Select game",
               }
             },
             es: {
               translation: {
                 "firstep": "Primer paso",
                 "selectg": "Seleccionar juego",
               }
             }
           }
         }, function(err, t) {
           updateContent();
         });

      function updateContent() {
        document.querySelectorAll('[data-translate]').forEach(function(element) {
          const key = element.getAttribute('data-translate');
          element.textContent = i18next.t(key);
        });
      }

      // Cambiar idioma al hacer clic
      document.getElementById('change-lang-es').addEventListener('click', function() {
        i18next.changeLanguage('es', updateContent);
      });

      document.getElementById('change-lang-en').addEventListener('click', function() {
        i18next.changeLanguage('en', updateContent);
      });
    </script>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const socket = new WebSocket('ws://rbxplus.com/');

    // Eventos de conexión, cierre y mensajes
    socket.onopen = () => {
        console.log('Connected to WebSocket server');
    };

    socket.onclose = () => {
        console.log('Disconnected from WebSocket server');
    };

    socket.onerror = (error) => {
        console.error('WebSocket error:', error);
    };
});
</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-J55SK0YRQ8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-J55SK0YRQ8');
</script>
</body>

</html>